body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.products {
    display: grid;
    grid-gap: 21px;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

.price {
    font-weight: bold;
    color: green;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 100px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #42a049;
}